<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8" />
<title>Spring Boot 3</title>
</head>
<body>
    <div th:replace="~{/layout/fragments :: pageHeader('부서 상세 페이지')}"></div>

    <main>
        <section>
            <h2>부서 상세 정보</h2>
            <table>
                <tbody th:object="${department}">
                    <tr>
                        <th>부서번호</th>
                        <td th:text="*{id}"></td>
                    </tr>
                    <tr>
                        <th>부서이름</th>
                        <td th:text="*{departmentName}"></td>
                    </tr>
                    <tr>
                        <th>매니저</th>
                        <td><th:block th:if="*{manager != null}">
                                <a
                                    th:href="@{/employee/details/{id}(id=*{manager.id})}"
                                    th:text="*{manager.lastName}"></a>
                            </th:block></td>
                    </tr>
                    <tr>
                        <th>위치</th>
                        <td th:text="*{location.city}"></td>
                    </tr>
                </tbody>
            </table>
        </section>
       
    </main>
</body>
</html>